@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: love-script, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin-top: 0;
    color: #333;
    text-align: center;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
    font-family: yorkten-slab-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h5 {
    font-size: 1.25rem;
    font-family: yorkten-slab-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 1.5rem;
      font-family: yorkten-slab-normal, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  @media screen and(max-width: 768px){

  }
@layer base {
:root {
  --color-bgbase: 251, 251, 251;
  --color-accent1: 22, 111, 126;
  --color-accent1light: 84, 156, 168;
  --color-accent1dark: 2, 60, 71;
  --color-accent2: 180, 26, 186;
  --color-accent2light: 211, 83, 215;
  --color-accent2dark: 106, 0, 110;
  --color-type1: 4, 9, 10;
  --color-type2: 64, 82, 98;
  --color-button: 231, 232, 234;
  --color-outline: 245, 245, 245;
}
:root[data-theme="dark"] {
  --color-bgbase: 4, 9, 10;
  --color-accent2: 22, 111, 126;
  --color-accent2light: 84, 156, 168;
  --color-accent2dark: 2, 60, 71;
  --color-accent1: 180, 26, 186;
  --color-accent1light: 211, 83, 215;
  --color-accent1dark: 106, 0, 110;
  --color-type1: 251, 251, 251;
  --color-type2: 144, 150, 151;
  --color-button: 11, 24, 27;
  --color-outline: 130, 130, 130;
}
}
