---
import BaseLayout from "../components/BaseLayout.astro";
const pageTitle = "About Me";


---
<BaseLayout>
<divclass class="container mx-auto py-4 max-md:px-6">
  <div class="pagetitle py-4 md:translate-y-8">{pageTitle}</div>
</div>

</BaseLayout>
