---
import BaseLayout from "../components/BaseLayout.astro";
const pageTitle = "Reach out to me...";
---
<BaseLayout pageTitle={pageTitle}>
    <!-- 	<div class="relative isolate px-6 pt-14 lg:px-16">
		<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
		  <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-accent-1 to-accent-2 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
		</div>
		<div class="mx-auto max-w-screen-2xl py-32 sm:py-48 lg:py-56">
		  <div class="hidden sm:mb-8 sm:flex sm:justify-center">
		  </div>
		  <slot />
		  </div>
		</div>
		<div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
		  <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-accent-2 to-accent-1 opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
		</div>
	  </div> -->
      <div class="bg-bgbase w-full h-10">bg</div>
      <div class="bg-accent-1 w-full h-10">a1</div>
      <div class="bg-accent-1-light w-full h-10">a1-l</div>
      <div class="bg-accent-1-dark w-full h-10">a1-d</div>
      <div class="bg-accent-1-head w-full h-10">a1-head</div>
      <div class="bg-accent-1-hover w-full h-10">a1-hover</div>
      <div class="bg-accent-2 w-full h-10">a2</div>
      <div class="bg-accent-2-light w-full h-10">a2-l</div>
      <div class="bg-accent-2-dark w-full h-10">a2-d</div>
      <div class="bg-accent-2-head w-full h-10">a2-head</div>
      <div class="bg-accent-2-hover w-full h-10">a2-hover</div>
      <div class="bg-type-1 w-full h-10">type1</div>
      <div class="bg-type-2 w-full h-10">type2</div>
      <div class="bg-button w-full h-10">button</div>
      <div class="bg-button-hue w-full h-10">button hue</div>
      <div class="bg-outline w-full h-10">outline</div>
</BaseLayout>