---
import BaseLayout from "../components/BaseLayout.astro";
const pageTitle = "Projects";
---
<BaseLayout pageTitle={pageTitle}>
<div class="flex bg-type-1 w-16 h-16 bg-gradient-to-b from-outline to-transparent"></div>
</BaseLayout>