---
import BaseLayout from "../components/BaseLayout.astro";
import Card from "../components/Card"

import "@astrojs/react";

const pageTitle = "Projects";
const subText = "Now that I chaught you attentiom, let me show my featured work below. Scroll a little further for more"
---
<BaseLayout >
  <div class="container mx-auto py-4 md:-translate-y-8 max-md:px-6">
    <div class="pagetitle py-4 md:translate-y-8">{pageTitle}</div>
    <h4 class="md:w-1/2 text-type-2 text-lg pr-4 py-4 md:translate-y-8 sm:pt-0 md:text-xl lg:text-2xl">{subText}</h4>
    <Card client:load />
  </div>
</BaseLayout>