---
import Header from './Header.astro';
import Footer from './Footer.astro';
import "../styles/global.css";
const {pageTitle} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link href="https://use.typekit.net/gqz8ndv.css" rel="stylesheet" type="text/css" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<script is:inline>
			const theme = (() => {
			  if (savedTheme = localStorage?.getItem("theme")) {
				return savedTheme;
			  }
			  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
				return "dark";
			  }
			  return "light";
			})();
			document.documentElement.setAttribute("data-theme", theme)
		</script>
	</head>
	<body class="bg-bgbase min-h-screen flex flex-col">
		<Header />
		<main class="flex-grow relative z-0 min-h-screen">
			<div class="relative mx-auto max-w-7xl isolate px-4 md:px-8 py-32 lg:px-8 xl:px-16 z-10">
				<div class="absolute inset-x-0 -top-40 transform-gpu overflow-hidden blur-3xl sm:-top-80 z-0 pointer-events-none" aria-hidden="true">
					<div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-accent-1 to-accent-2 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
				</div>
				<div class="container mx-auto sm:py-6 z-10">
					<div>{pageTitle}</div>
				</div>
				<slot />
				<div class="absolute inset-x-0 top-[calc(100%-13rem)] transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)] z-0 pointer-events-none" aria-hidden="true">
					<div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-accent-2 to-accent-1 opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
				</div>
			</div>
		</main>
		<Footer />
	</body>

</html>
