---
import Header from './Header.astro';
import Footer from './Footer.astro';
import "../styles/global.css";
const { pageTitle} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link href="https://use.typekit.net/gqz8ndv.css" rel="stylesheet" type="text/css" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<script is:inline>
			const theme = (() => {
			  if (savedTheme = localStorage?.getItem("theme")) {
				return savedTheme;
			  }
			  if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
				return "dark";
			  }
			  return "light";
			})();
			document.documentElement.setAttribute("data-theme", theme)
		</script>
	</head>
	<body class="bg-bgbase">
		<Header />
		{/* This is a workaround for Astro's static rendering to get the checkbox state correct when server side does not match client side expected value */}
		<script is:inline>
			document.getElementById("theme-toggle-checkbox").checked = (document.documentElement.getAttribute("data-theme") === "dark")
		</script>
		<div class="relative isolate px-6 pt-32 lg:px-16">
			<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
				<div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-accent-1 to-accent-2 opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
			  </div>
			<div class="container mx-auto sm:py-6">
				<div class="text-4xl sm:text-6xl drop text-type-1 font-semibold font-yorkten-slab">{pageTitle}</div>
			</div>
			  <slot />
			  <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
				<div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-accent-2 to-accent-1 opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
			  </div>
		  </div>
		<Footer />

	</body>
</html>
