---
import Footcontent from "./Footcontent";
import "@astrojs/react";
---
<div class="fixed bottom-0 inset-x-0 z-50 pointer-events-auto">
  <footer class="mx-auto mt-auto flex-end">
    <Footcontent />
  </footer>
</div>
